html {
  position: relative;
  font-weight: normal;
  background-color: tan;
  background-image: url("https://www.transparenttextures.com/patterns/green-fibers.png");
}

group:after {
  content: "";
  display: block;
  clear: both;
}

@media only screen and (max-width: 860px) {
    div {
      width: 98% !important;
      float: none !important;
      margin: 1vh auto !important;
    }

    #search {
      height: 20vh !important;
      margin-bottom: 0 !important;
    }

    #forecast {
      overflow-x: hidden;
      height: 45vh !important;
    }

    #search button {
      position: absolute !important;
      bottom: 2vh !important;
      right: 2vw !important;
      margin: .5vw 4vw .5vw 4vw;
    }

    h1 {
      margin-bottom: 1vh !important;
      margin-top: 1vh !important;
      font-size: 6vh !important;
    }

    a {
      float: none !important;
      margin: 0 3.9vw 0 0 !important;
      font-size: 3.5vw !important
    }

    input {
      position: absolute !important;
      bottom: 2vh !important;
      width: 55vw !important;
      margin: 0.5vw 0.5vw 0.5vw 3vw !important;
    }

    button:nth-child(2) {
      margin-top: 0 !important;
    }

    table {
      font-size: 3vw !important;
      overflow-y: scroll;
    }

}

div {
  width: 54vw;
  background: #000;
  padding: .25vw;
  margin: .5vh;
  border-radius: .3vh;
  display: block;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#search {
  height: 30vh;
  position: relative;
}

#search:hover {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/67/32/46/67324676ffbdece024fa2b15d2145c9f.jpg");
}

#search button {
  height: 7vh;
  float: right;
  margin-top: .5vh;
  margin-right: 1vw;
}

#forecast {
  width: 40vw;
  height: 90vh;
  float: right;
  overflow-y: scroll;
}

#pic {
  margin-top: .1vh;
  height: 58.5vh;
}

table {
  height: 80%;
  width: 100%;
  padding: 0 1vw;
  font-size: 1.7vw;
  letter-spacing: .3vh;
  table-layout: fixed;
  font-family: 'Chewy', cursive;
}

th {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

tr, td {
  padding: 0;
  margin: 0;
  border: 1px dotted white;
}

tr:last-child td:last-child {
  border: none;
  padding: 0;
}

.ten-day tr {
  width: 100%;
  height: 8%;
}

.ten-day td {
  padding: 0 2vw;
  cursor: pointer;
}

.data {
  font-family: "Cherry Cream Soda", cursive;
}

h1 {
  font-size: 6vh;
  text-align: center;
  color: #7F2D00;
  letter-spacing: .3vh;
  font-family: 'Chewy', cursive;
}

h2 {
  font-size: 4vh;
  color: #7F2D00;
  text-align: center;
  letter-spacing: .3vh;
  font-family: 'Chewy', cursive;
}

h3, .day {
  margin-left: 2vw;
  font-size: 3vh;
  font-family: 'Cherry Cream Soda', cursive;
}

input {
  width: 40vw;
  height: 5vh;
  padding-left: .75vw;
  margin: .5vw;
  border-radius: .3vh;
  border: .5vh inset;
  font-size: 3.5vh;
  outline: none;
  color: #362313;
  font-family: 'Cherry Cream Soda', cursive;
}

input:hover {
  cursor: text;
}

button {
  border-radius: .3vh;
  background: linear-gradient(#F8CB8B, #7F2D00);
  outline: none;
  border: none;
  margin: 0;
  display: block;
  font-weight: bold;
  font-family: 'Cherry Cream Soda', cursive;
  color: white;
  height: 8vh;
  font-size: 2.5vh;
}

button:hover {
  background: linear-gradient(#7F2D00, #000);
  cursor: pointer;
}

#pic {
  background-position: center;
}

#links {
  display: block;
  background: transparent;
  font-size: 2.5vh;
  font-family: 'Cherry Cream Soda', cursive;
  height: 3vh;
  width: 97.7vw;
}

.ten-day {
  list-style: none;
  border: .1vh solid black;
  width: 95%;
  height: 98%;
  position: relative;
  display: block;
  margin: auto;
  background: linear-gradient(#7F2D00, #000);
  border-radius: .3vh;
  color: white;
  overflow-x: hidden;
}

ul {
  font-family: 'Chewy', cursive;
  width: 33vw;
  padding: .5vw;
  margin: 0 0 1vh 0;
  font-size: 2vh;
  display: block;
  float: left;
  border-bottom: .1vh solid white;
}

ul:first-child {
  margin-top: 1vh;
}

li {
  width: 10vw;
  text-align: center;
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 2vh;
  display: block;
  float: left;
  margin: 0 2vw;
  cursor: pointer;
  padding-top: 0;
}

.day-name {
  border-right: .1vh solid white;
  text-align: left;
  font-weight: bold;
  font-family: 'Chewy', cursive;
  font-size: 4vh;
  letter-spacing: .2vh;
}

a {
  float: left;
  margin: 0 3vw 0 0;
  font-size: 2.5vh;
  color: #362313;
}
